Dictionary

Key-Value Pairs: Data mapping.

Aliases: Map, associative array.

dict = { 'name': 'nitish', 'age': 33, 'gender': 'male' }

Traits:

Mutable

No indexing

Unique keys

Immutable key

In [2]:
{"Name":"Saurabh", "Gender":"Male"}

{'Name': 'Saurabh', 'Gender': 'Male'}

4 Key Rules About Dictionaries

No Indexing: No index support.

Mutable: Can modify post-creation.

Keys: Immutable (str, num, tuple); Values: Any type.

Unique Keys: Keys must be unique; overwrite on reassignment.

In [5]:
# Mutable Types   ---> Lists, Sets, Dicts

# Immutable Types ---> Str, Tuples, Int, Float, Bool, Complex

Create
Access
Edit
Add
Delete
Operations
Functions

1. Create

In [10]:
#empty dictonary
D={}

In [12]:
D

{}

In [91]:
#1D Dictonary
D={"Name": "Jatin", "Gender": "Male"}
D

{'Name': 'Jatin', 'Gender': 'Male'}

In [93]:
D={[1,2,3]: "Jatin"}

TypeError: unhashable type: 'list'

In [95]:
#with mixed Keys
D1={(1,2,3): "Jatin"}
D1

{(1, 2, 3): 'Jatin'}

In [97]:
#duplicate keys
D2={"Name": "Jatin", "Name": "Rahul"}
D2

{'Name': 'Rahul'}

In [99]:
D3={"Name": "Jatin", "College": "DAV", "Marks":{"M1":99, "DS":97, "Eng":80}}
D3

{'Name': 'Jatin', 'College': 'DAV', 'Marks': {'M1': 99, 'DS': 97, 'Eng': 80}}

In [101]:
# 2D dictionary ---> JSON
s = {
    'name':'Jatin',
     'college':'DAV',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
s

{'name': 'Jatin',
 'college': 'DAV',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}

In [103]:
#mutuable items AS Keys
D4= {"name": "Rahul", (1,2,3):2}
print(D4)

{'name': 'Rahul', (1, 2, 3): 2}

2. Access

In [106]:
D["Name"]

'Jatin'

In [108]:
D.get("Name")

'Jatin'

In [110]:
D["Gender"]

'Male'

In [112]:
D3

{'Name': 'Jatin', 'College': 'DAV', 'Marks': {'M1': 99, 'DS': 97, 'Eng': 80}}

In [114]:
D3['Marks']['M1']

99

3. Edit

In [117]:
D

{'Name': 'Jatin', 'Gender': 'Male'}

In [119]:
D['Name']= "Rahul"
D

{'Name': 'Rahul', 'Gender': 'Male'}

4.Add

In [124]:
D

{'Name': 'Rahul', 'Gender': 'Male', 'Age': 12}

In [133]:
D['Age']=12
D

{'Name': 'Rahul', 'Gender': 'Male', 'Age': 12}

In [131]:
D3['Marks']["M2"]=87
D3

{'Name': 'Jatin',
 'College': 'DAV',
 'Marks': {'M1': 99, 'DS': 97, 'Eng': 80, 'M2': 87}}

5. Delete

In [138]:
D5={}
D5

{}

In [140]:
del D5
D5

NameError: name 'D5' is not defined

In [142]:
D.pop("Name")

'Rahul'

In [144]:
D

{'Gender': 'Male', 'Age': 12}

In [146]:
D.popitem()
D

{'Gender': 'Male'}

In [148]:
del D["Gender"]

In [150]:
D

{}

6. Operations

In [153]:
D3

{'Name': 'Jatin',
 'College': 'DAV',
 'Marks': {'M1': 99, 'DS': 97, 'Eng': 80, 'M2': 87}}

In [155]:
D4

{'name': 'Rahul', (1, 2, 3): 2}

In [157]:
D3+D4

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [161]:
D3 *3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [167]:
#iterarion
for i in D3:
    print(i, D3[i])

Name Jatin
College DAV
Marks {'M1': 99, 'DS': 97, 'Eng': 80, 'M2': 87}

In [173]:
D3

{'Name': 'Jatin',
 'College': 'DAV',
 'Marks': {'M1': 99, 'DS': 97, 'Eng': 80, 'M2': 87}}

In [179]:
#membership
'Name' in D3

True

In [177]:
'Rahul' in D3

False

7. Functions

In [184]:
len(D3)

3

In [186]:
min(D3)

'College'

In [190]:
max(D3)

'Name'

In [194]:
sorted(D3)

['College', 'Marks', 'Name']

In [192]:
sorted(D3, reverse=True)

['Name', 'Marks', 'College']

In [196]:
D3.items()

dict_items([('Name', 'Jatin'), ('College', 'DAV'), ('Marks', {'M1': 99, 'DS': 97, 'Eng': 80, 'M2': 87})])

In [200]:
D3.keys()

dict_keys(['Name', 'College', 'Marks'])

In [204]:
D3.values()

dict_values(['Jatin', 'DAV', {'M1': 99, 'DS': 97, 'Eng': 80, 'M2': 87}])

In [206]:
d1 = {1:2, 3:4, 4:5}
d2 = {4:7, 6:8}
d1.update(d2)
d1

{1: 2, 3: 4, 4: 7, 6: 8}

Dictionary Comprehension

{key : value for var in iterable}
Creates dicts from iterables.

Example:

squares_dict = {x: x**2 for x in range(5)}

Maps numbers to squares.

Supports conditions & expressions.

In [209]:
D = {"Name":"Jatin", "Gender":"Male", "Age":20}

In [211]:
D.items()

dict_items([('Name', 'Jatin'), ('Gender', 'Male'), ('Age', 20)])

In [213]:
D1= {key:value for key, value in D.items () if len(key)>3 }
D1

{'Name': 'Jatin', 'Gender': 'Male'}

In [215]:
L=[1,2,3,4,5,6,7]

In [219]:
L1= {item: item**2 for item in L if item%2==0}
L1

{2: 4, 4: 16, 6: 36}

In [225]:
{i: i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [241]:
# using zip
days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
temp_C = [30.5, 32.6, 31.8, 33.4, 29.8, 30.2, 29.9]
{i:j for (i,j) in zip(days, temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [243]:
# using if condition
products = {'phone':10, 'laptop':0, 'charger':32, 'tablet':0}
{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}