Lambda Function

Anonymous functions.

Single Expression Limit.

Syntax: lambda args: expr

Example: lambda a, b: a + b

In [7]:
a=lambda x: x*2
a(10)

20

In [9]:
b= lambda x, y: x+y

In [11]:
b(22,55)

77

In [11]:
c= lambda x: x**2

In [13]:
c(22)

484

Lambda Function vs. Normal Function

Lambda function:

No return value.

Written in Single-line.

Not used for code reusability.

Anonymous/No name.

Normal function:

Has a return value.

Multi-line.

Encourages code reusability via named functions.

In [22]:
def fn(n):
    return lambda x: x*n

In [24]:
a=lambda x : x[1]=='a'

In [26]:
a('jatin')

True

In [30]:
a("shivam")

False

In [32]:
b= lambda x : "even" if x%2==0 else "odd"

In [34]:
b(66)

'even'

Higher-Order Functions

Map

Filter

Reduce
1. Map
Applies a function to each item in iterable.

Syntax:

map(function, iterable)
Returns an Iterator of results.

In [1]:
L = [1, 2, 3, 4, 5, 6, 7]
L

[1, 2, 3, 4, 5, 6, 7]

In [3]:
map(lambda x:x*2, L )

In [17]:
list(map(lambda x: x*2,L))

[2, 4, 6, 8, 10, 12, 14]

In [13]:
list (map(lambda x:x %2==0, L))

[False, True, False, True, False, True, False]

In [19]:
students = [
    {
        "name" : "Rahul",
        "Father name" : "Jatin",
        "Address" : "123 Hills Street",
    },{
        "name" : "chetan",
        "Father name" : "Rahul",
        "Address" : "3 Upper Street London",
    },{
        "name" : "Pawan",
        "Father name" : "Shivam",
        "Address" : "Unknown",
    }
    
]
#list(map(lambda student : student["name"], students))

In [23]:
list(map(lambda Names:Names['name'], students))

['Rahul', 'chetan', 'Pawan']

In [25]:
list(map(lambda Names:Names['Father name'], students))

['Jatin', 'Rahul', 'Shivam']

2. Filter

Applies a function to sequence.

Syntax:

filter(function, sequence)
Returns elements where function is True.

In [30]:
L

[1, 2, 3, 4, 5, 6, 7]

In [32]:
list(filter(lambda x:x>3, L))

[4, 5, 6, 7]

In [34]:
Names= ["Jatin", "RAhul", "Shivam", "Chetan"]

In [38]:
list(filter(lambda Name: 'i' in Name, Names))

['Jatin', 'Shivam']

In [40]:
list(filter(lambda Name: 'a' in Name, Names))

['Jatin', 'Shivam', 'Chetan']

3. Reduce
Reduces an iterable to a single value.

Syntax:

from functools import reduce
reduce(function, iterable)
Operates on pairs of elements until a single value remains.

Useful for Cumulative Operations (e.g., sum, product).

In [52]:
import functools

In [54]:
L

[1, 2, 3, 4, 5, 6, 7]

In [56]:
functools.reduce(lambda x,y: x+y, L)

28

In [58]:
L1 = [12, 34, 56, 11, 21, 58]
L1

[12, 34, 56, 11, 21, 58]

In [62]:
functools.reduce(lambda x, y : x if x<y else y, L1)

11

In [64]:
functools.reduce(lambda x, y : x if x>y else y, L1)

58